html,body{
  overflow-x: hidden;
  background: #bddaeb;
  color: #1e1e1e;
  margin: 0;
  padding: 0;
}


.heading{
  color: #fff;
  background-color: #1e1e1e;
  width: 100%;
  padding: 1rem 0rem;
  margin: 0;
}
.heading h2{
  font-weight: 300;
  margin-left: 1.5rem;
}

.container{
  margin-left:10%;
  width:80%;
}

.buttons {
  margin: 2.5rem 0;
}

.active {
  margin: 2.5rem 0;
}

.heading a{
  text-decoration: none;
  color: #ffffff;
}

.buttons a{
  text-decoration: none;
  background: #bddaeb;
  color: #1e1e1e;
  padding: .8rem 1.6rem;
  margin: 0 1rem;
  border-radius: 2rem;
  box-shadow:  9px 9px 15px #93aab7, 
             -9px -9px 15px #e7ffff;
}

.upload-form{
  border-radius: 50px;
  background: #bddaeb;
  box-shadow:  20px 20px 60px #93aab7, 
             -20px -20px 60px #e7ffff;
  margin: 3rem 0;
  padding: 5rem 1rem 4rem 1rem;
  max-width: 580px;
}


.buttons .active {
  box-shadow: inset 9px 9px 15px #93aab7, 
            inset -9px -9px 15px #e7ffff;
}

.username-field{
  border-radius: 1rem;
  background-color: #ececec;
  color: #1e1e1e;
  border: 0;
  padding: .5rem;
  box-shadow: inset 9px 9px 10px #93aab7, 
            inset -9px -9px 10px #e7ffff;
}

button{
  border-radius: 2rem;
  background: #ececec;
  border: 0;
  padding: .7rem 1rem;
}